<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAMILIARES</title>
</head>
<body>
    
    <h1> FAMILIARES </h1>

    <h2> ------------------ </h2>
    <h2 style="color:cyan"> Nombre: {{ nombre1 }} </h2>
    <h2 style="color:cyan"> Apellido: {{ apellido1 }} </h2>
    <h2 style="color:green"> Edad: {{ edad1 }} </h2>
    <h2 style="color:green"> Cumpleaños: {{ cumple1 }} </h2>
    <h2> ------------------ </h2>
    <h2 style="color:cyan"> Nombre: {{ nombre2 }} </h2>
    <h2 style="color:cyan"> Apellido: {{ apellido2 }} </h2>
    <h2 style="color:green"> Edad: {{ edad2 }} </h2>
    <h2 style="color:green"> Cumpleaños: {{ cumple2 }} </h2>
    <h2> ------------------ </h2>
    <h2 style="color:cyan"> Nombre: {{ nombre3 }} </h2>
    <h2 style="color:cyan"> Apellido: {{ apellido3 }} </h2>
    <h2 style="color:green"> Edad: {{ edad3 }} </h2>
    <h2 style="color:green"> Cumpleaños: {{ cumple3 }} </h2>
    <h2> ------------------ </h2>

</body>
</html>